body,html {
    height: 100%;
    margin: 0;
    font-family: 'Noto Nastaliq Urdu', serif,Arial, Helvetica, sans-serif;
   font: 400 20px/2;
    color: #777;
    font-size: 17px;
  }
*{
    padding: 0%;
    margin:0% ;
    direction: rtl;
    box-sizing: border-box;
    
    
}

header{

    position: relative;
  }
  
 
   
    
 
  /* Style the navbar */
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  #navbar a:hover {
    background-color:#00c7b6;
    color:rgba(0, 0, 0, 0.548)
  }
  
 
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("Picture/0b3275a2-c360-455b-915d-9ee00997c563-840x560.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4,.bgimg-5 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("Picture/WhatsApp\ Image\ 2022-04-14\ at\ 4.16.22\ PM.jpeg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("Picture/WhatsApp\ Image\ 2022-04-14\ at\ 4.16.22\ PM\ \(1\).jpeg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("Picture/WhatsApp\ Image\ 2022-04-14\ at\ 4.16.23\ PM.jpeg");
    min-height: 400px;
  }
  .bgimg-4 {
    background-image: url("Picture/WhatsApp\ Image\ 2022-04-14\ at\ 4.16.23\ PM\ \(1\).jpeg");
    min-height: 400px;
  }
  

.bgimg-5{
  background-image: url("Picture/WhatsApp\ Image\ 2022-04-14\ at\ 4.16.23\ PM\ \(2\).jpeg");
  min-height: 400px;
}
 

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 8px;
    
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
  }
  P{
    font-family: 'Jomhuria', cursive;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4,.bgimg-5 {
      background-attachment: scroll;
    }
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin:30%;
    text-align:center;
    font-size:40px
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 50px 50px;
  }
  /*footer*/
  video{
    padding-top: 20px;
    padding-left:-40% ;
    text-align: center;
  }
  #myVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 50%;
  }
  
  .content {
    position:sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  /*icon*/
  .bi{
   margin: 12px;
   
  }
  .info{
    margin: auto;
    margin-top: -5%;
  margin-right: 77%;
  }
 